<div class="home_social">
  <div class="grid-x">
    <div class="medium-offset-1 medium-9 large-offset-1 large-8 cell">
      <a href="https://www.facebook.com/memocated">Facebook</a> / <a href="https://twitter.com/teammemocate">Twitter</a> / <a href="https://www.instagram.com/teammemocate/">Instagram</a>
    </div>
    <div class="medium-offset-5 medium-5 large-offset-8 large-3 cell language-selection">
      <a class="{{#eq 'fi' current-lang}}bottom-active{{/eq}}" href="{{rootPath}}suomeksi/">FI</a> / <a class="{{#eq 'en' current-lang}}bottom-active{{/eq}}" href="{{rootPath}}#page-top">EN</a>
    </div>
  </div>
</div>
