---
current-lang: en
layout: layout.html
other-lang: suomeksi
other-lang-title: Suomeksi
our-story-anchor: our-story
our-story: Our Story
team-anchor: team
team-heading: Team
get-in-touch-anchor: get-in-touch
get-in-touch-heading: Get in Touch
page-top-anchor: page-top
service-heading: Service
service-anchor: service
research-heading: Research
research-anchor: research
read-more: Read More

intro:
  Hi!<br/>
  We are <strong>Memocate,</strong><br/>
  and we are creating the<br/>
  <strong>aid for dementia.</strong>
stories:
 - h1: A dream of human encounters
   p_1: During her studies Camilla Lindholm worked at a local nursing home. In the work, the interaction skills rose to a key position. Life with the inhabitants was rewarding, but the feeling of inadequacy also surfaced. How to avoid time-consuming misunderstandings? How to interact with a resident whose only words were "yes" and "no"?
   p_2: These dilemmas of care work led to long-term research on memory diseases and interaction at the University of Helsinki. Research was directed by a strong desire to help and to have a positive societal impact. Memocate was born to convey information from these studies to all who live and work on the same issues on a daily basis.
   img: homepage_o.png
 - h1: We are <br>Memocate
   p_1: With years gone by, the dream of one person has grown to our common goal goal. We want to improve our customers' lives by facilitating good interaction. Our company was born at the University of Helsinki in order to offer new kind of digital training materials to support the treatment of memory patients.
   p_2: Our online training platform provides operational models for challenging interaction situations in care as well as giving you the opportunity to process the often uneasy emotions that come with the work. Memory diseases can not be cured, but with effective interaction we can increase the wellbeing of people suffering from dementia, ease the burden related to care work and bring relief to our customers' lives.
   img: homepage_e.png
 - h1: A special product,<br> a special team
   p_1: Our operations make a particularly strong scientific background. We want to help people by adding knowledge and understanding. In addition to our scientific advisor Camilla, our energetic team has extensive expertise in training design coding.
   p_2:  The key to our work is professionalism, communication and innovation. These values shared by us are guided and developed by our daily activities.
   img: homepage_a.png
 - h1: Our future
   p_1: What makes us special and allows us to produce high-quality training materials is our strong background in science. We will continue to develop and utilize the latest research data also in the future. We develop our service in cooperation with our customers based on continuous feedback we receive from them. Our customers' experiences are the starting point for our work.
   p_2:  The first step is to establish our business and our position in Finland. After five years, we see ourselves operating and educating caregivers also in other European countries. We will influence and create new solutions to challenging care and interaction situations and we will not stop there. Our story is just beginning.
   img: homepage_c.png

service:
  p_1: Valmistamme uudenlaista verkkokoulutuspalvelua muistisairaiden ammatti- ja omais-hoitajille sekä hoitoalan opiskelijoille.
  p_2: Työskentelemme tiiviisti asiakkaidemme kanssa lisätäksemme ymmärrystä muistisairauksista sekä parantaaksemme vuorovaikutusta muistisairaan ja hoitajan välillä. Tarjoamme myös lähiopetusta sekä konsultointia asiakkaidemme tarpeiden mukaan.
  p_3: Valmistamme parhaillaan ensimmäistä versiota palvelustamme. Etsimme yhteistyökumppaneita tuotekehityksen ja kansainvälistymisen tueksi.

research:
  p_1: >
    <p>Muistisairas ihminen ei aina pysty ilmaisemaan tunteitaan ja ajatuksiaan sanallisesti, jolloin ilmaisukeinojen puute saattaa purkautua haasteellisena käytöksenä.</p>
    <p>Yksinkertaisimmillaan muistisairas ei vaikkapa huomaa, että hänelle puhutaan, jos hoitaja ei pysähdy hänen kohdalleen. Tämä tuottaa väärinymmärryksiä ja turhautumista. Oikeanlainen viestintä muistisairaan kanssa toimii todistetusti tehokkaana lääkkeettömänä kuntoutuksena, joka ehkäisee haasteellista käyttäytymistä ja helpottaa sekä muistisairaiden että vuorovaikutuskumppaneiden arkea.</p>
  p_2: >
    <p>Memocate perustuu Helsingin yliopistossa tehtyyn tutkimukseen. Camilla Lindholm on vuodesta 2005 tutkinut muistisairaiden henkilöiden ja hoitajien välistä vuorovaikutusta. Tutkimuksessaan hän keskittyy tarkastelemaan niitä strategioita joita hoitajat ja muistisairaat vuorovaikutuksessaan käyttävät ja miten vuorovaikutus sujuu kun toinen osapuoli muistisairauden takia ei pysty osallistumaan samalla tavalla kuin toinen. Kun sanat katoavat ja kielen ymmärtäminen vaikeutuu, vastuu keskustelun sujumisesta siirtyy muistisairaan keskustelukumppanille. Camilla käyttää videoitua tutkimusaineista ja keskusteluanalyyttista menetelmää, joka tuo näkyväksi vuorovaikutuksen yksityiskohtia, joita on aiemmin jäänyt näkymättömiin.</p>

  refs_1: >
    <p>Lindholm, C. 2016. Boundaries of participation in care home settings: use of the Swedish token jaså by a person with dementia. Clinical Linguistics and Phonetics Sep 13:1-17.</p>
    <p>Lindholm, C. 2016. Keskustelunanalyysi ja etnografia. Teoksessa: Stevanovic, M. & Lindholm, C. (red.), Keskustelunanalyysi. Kuinka tutkia sosiaalista toimintaa ja vuorovaikutusta. Tampere: Vastapaino.</p>
    <p>Lindholm, C. 2016. Luottamuksen haasteet. Teoksessa: Stevanovic, M. & Lindholm, C. (toim.), Keskustelunanalyysi. Kuinka tutkia sosiaalista toimintaa ja vuorovaikutusta. Tampere: Vastapaino.</p>
    <p>Lindholm, C. 2015. Parallel realities: The interactional management of confabulation in dementia care encounters. Research on Language and Social Interaction 48(2), 176–199.</p>
    <p>Lindholm, C. 2014. Comprehension in interaction: Communication at a day care center. In: Jens Brockmeier, Hilde Lindemann & Lars-Christer Hydén (Eds.) Beyond loss. Dementia, identity, personhood. Oxford: Oxford University Press. 155–172.</p>
    <p>Lindholm, C. 2013. Challenges and opportunities of group conversations: The day-care center as a communication milieu. In Boyd H. Davis & J. Guendouzi (eds.), Pragmatics in Dementia Discourse. Newcastle upon Tyne: Cambridge Scholars Publishing. 205–238.</p>
    <p>Lindholm, C. & Wray, A. 2011. Proverbs and formulaic sequences in the language of elderly people with dementia. Dementia 10(4), 604–624.</p>
  refs_2: >
    <p>Lindholm, C. 2010. När orden fattas oss. Om demens, språk och kommunikation. [Kun sanat puuttuvat. Dementia, kieli ja vuorovaikutus.] Stockholm: Liber.</p>
    <p>Lindholm, C. 2008. Laughter, communication problems and dementia. Communication & Medicine 5(1), 3–14.</p>
    <p>Lindholm, C. 2007. Det är som sjutton också: kiinteät ilmaukset dementiaa sairastavien vanhusten ja hoitajien keskusteluissa. Puhe ja kieli 26(3), 185–200.</p>
    <p>Kurhila, S. & Lindholm, C. 2016. Ymmärtämisen haasteet Teoksessa: Stevanovic, M. & Lindholm, C. (toim.), Keskustelunanalyysi. Kuinka tutkia sosiaalista toimintaa ja vuorovaikutusta. Tampere: Vastapaino.</p>
    <p>Leskelä, L. & Lindholm, C. (toim.). 2012. Haavoittuva keskustelu. Keskustelunanalyyttisia tutkimuksia kielellisesti epäsymmetrisestä vuorovaikutuksesta. Helsinki: Opike.</p>
    <p>Nielsen, R.T., Antelius, E., Spilker, R.S., Torkpoor, R., Toresson, H., Lindholm, C. & Plejert, C. 2015. Dementia care for people from ethnic minorities: a Nordic perspective. International Journal of Geriatric Psychiatry 30(2), 217─218.</p>
    <p>Plejert, C., Lindholm, C. & Schrauf, R.W. (eds.). 2017. Multilingual interaction and dementia. Bristol: Multilingual Matters.</p>
    <p>Stevanovic, M. & Lindholm, C. (toim.). 2016. Keskustelunanalyysi. Kuinka tutkia sosiaalista toimintaa ja vuorovakutusta. Tampere: Vastapaino.</p>

team:
 - first_name: Heikki
   last_name: Viitanen
   picture: heikki.jpg
   title: CO-FOUNDER & CEO
   email: heikki@memocate.com
   phone: +358440998996
 - first_name: Camilla
   last_name: Lindholm
   picture: camilla.jpg
   title: CO-FOUNDER & SCIENTIFIC ADVISOR
   email: camilla@memocate.com
   phone: 040 555 66 77
 - first_name: Anastasiia
   last_name: Kozina
   picture: anastasiia.jpg
   title: CO-FOUNDER & Head of Design
   email: anastasiia@memocate.com
 - first_name: Soile
   last_name: Törrönen
   picture: soile.jpg
   title: Content Creator
   email: soile@memocate.com
 - first_name: Daniel
   last_name: Landau
   picture: daniel.jpg
   title: Co-Founder & IT
   email: daniel@memocate.com
 - first_name: Liza
   last_name: Kinner
   picture: liza.jpg
   title: Animation lead
   email: liza@memocate.com
 - first_name: Chrystal
   last_name: Giam
   picture: chrystal.jpg
   title: Illustrator
   email: chrystal@memocate.com
---
